#mainAccount{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    height:100%;
    width:100%;
    margin-left:5px;
}

.divAccount,.FoodAdder{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:left;
    padding:10px;
    width:40vw;
    height:20vh;
    margin:5px;
    margin-top:15px;
    background-color: #E86A33;
    border-radius: 2%;
}

.divAccountDetail,.divFoodAdder{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:3em;
    width:fit-content;
}

.divFoodAdder{
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width:17vw;
    height:6vh;
}

#boxFName,#boxExpiration,#boxFType,#boxClaim{
    width:10vw;
    height:2vh;
}

.pageHeaderTitle{
    color:#F2E3DB;
    text-decoration:underline;
    transition: 0.5s;
    margin-left:5px;
}

#toCenter:hover{
    color:#FFB000
}

.FoodList,.FoodAdder{
    display: flex;
    flex-direction: column;
    padding:10px;
    width:fit-content;
    height:fit-content;
    background-color: #E86A33;
    border-radius: 4px;
    background-size: cover;
    margin-right:5px
}

.titleNBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
    height: fit-content;
}

.btnPrimary,#btnLogOut{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: large;
    padding:3px;
    background-color: #41644A ;
    color:#F2E3DB;
    transition:0.3s;
    border:none;
    border-radius:4px;
    padding:10px;
}

#btnLogOut{
    margin-left:5px;
}

.btnPrimary:hover,#btnLogOut:hover{
    background-color:#FFB000
}

.field{
    font-family: Comfortaa;
    font-size:medium;
    width:25vw;
    height:2vh;
    margin-left:10px;
    color:#F2E3DB;
    background-color: #E86A33;
    border:none;
}

.labelsAccountSection{
    font-weight: bold;
}