@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.user,.userFriendReq,.user2{
  font-family: Comfortaa;
  font-size: medium;
  height: 3em;
  width: 20em;
  background-color: #41644A;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  border-radius: 4px;
  padding:5px;
}

.userFriendReq{
  height: 5em;
  width:10em;
  padding:10px;
}
.user2{
  height:5em;
  width:15em
}

#txtEticheta{
  font-family: Comfortaa;
  font-size: medium;
  background-color: #41644A;
  margin-top:2px;
  border-radius: 4px;
  border-color: #F2E3DB;
  padding-left:5px
}

.username,.email,#txtEticheta{
  height: 1.5em;
  width: 12.5em;
  color:#F2E3DB;
}

#etichetaSection{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

#imgButtonAdd1,#imgButtonAdd2{
  height:2.5em;
  width:2.5em;
}

#imgButtonAdd3,#imgButtonAdd4{
  height:1.5em;
  width:1.5em;
}

#imgButtonAdd2{
  display:none;
}

#imgButtonAdd4{
  display:none;
}

#btnAddFriend,#btnAddFriend2{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  left:8em;
}

#btnAddFriend2{
  left:5px;
  top:5px;
}

#btnAddFriend:hover #imgButtonAdd2{
  display:inline;
}

#btnAddFriend:hover #imgButtonAdd1{
  display:none;
}

#btnAddFriend2:hover #imgButtonAdd4{
  display:inline;
}

#btnAddFriend2:hover #imgButtonAdd3{
  display:none;
}